.cart-page {
  padding: 2rem 7.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  border-bottom: 1px solid #1e1e1e3d;
  padding-bottom: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.product-header {
  width: 45%;
}
tbody td {
  padding: 1rem 0.5rem;
  vertical-align: middle;
  border-bottom: 1px solid #1e1e1e3d;
  font-size: 28px;
  text-align: center;
}

.cart-product {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-product img {
  background-color: #f8f9fa;
  width: 12.5rem;
  height: 11.5rem;
}

.cart-product p {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.cart-quantity button {
  background-color: #fff7ee;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

.cart-quantity button:hover {
  background-color: #b57224;
  color: #fff;
}

.cart-quantity span {
  margin: auto 1rem;
}
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e1e1e3d;
  height: 12.5rem;
}

.cart-summary h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.5rem;
}
.delivery,
.promo {
  width: 30%;
}
.promo form {
  width: 100%;
}

.promo-delivery {
  display: flex;
  gap: 20px;
}

.promo input {
  padding: 5px;
  font-size: 20px;
}

.promo button {
  padding: 5px 10px;
}

.delivery select {
  padding: 8px 24px;
  height: 64px;
  width: 100%;
  font-size: 20px;
}

.totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.totals-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totals-price {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.totals-price h3 {
  font-size: 32px;
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}
.totals button {
  margin-top: 1rem;
  height: 64px;
  padding: 8px;
  background-color: #b57224;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}
.totals button:hover {
  background-color: #a56519;
}
.totals button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
