.checkout-page {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7.5rem;
  color: #1e1e1e;
}

.checkout-form {
  width: 50%;
}
.checkout-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-form h2 {
  font-weight: 700;
  font-size: 28px;
}

.form-row,
.payment-method {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  border: 1px solid #1e1e1e5c;
  font-size: 18px;
}

.form-group :-ms-input-placeholder {
  opacity: 60%;
}
textarea {
  resize: vertical;
}

.payment-method {
  display: flex;
  justify-content: space-between;
}
.payment-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #1e1e1e5c;
  height: 80px;
}

.payment-style input {
  margin-right: 1rem;
}

.payment-style input:hover {
  cursor: pointer;
}
.card-details .form-row {
  flex-direction: column;
}

.card-details .form-row .form-group {
  margin-right: 0;
}

.card-details label {
  margin-top: 1rem;
}

.order-summary {
  width: 35%;
  margin: 0 auto;
}

.order-summary h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.order-items {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
  height: 114px;
  border-top: 1px solid #1e1e1e26;
}

.order-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.order-item img {
  width: 137px;
  height: 107px;
  margin-right: 1rem;
  background-color: #f8f9fa;
}

.order-item h3 {
  font-size: 18px;
  font-weight: 700;
}

.order-item p {
  font-size: 14px;
}

.quantity {
  background-color: #f8f9fa;
  border-radius: 6px;
  width: 52px;
  height: 26px;
  text-align: center;
  padding-top: 4px;
}

.order-totals {
  border-top: 1px solid #1e1e1e26;
  font-size: 24px;
}
.order-totals p,
.order-totals h3 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.order-totals h3 {
  font-size: 28px;
  border-top: 1px solid #1e1e1e26;
  padding-top: 1rem;
}

.payment-button,
.edit-cart-button {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  margin-top: 1rem;
  height: 64px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}

.payment-button {
  background-color: #ba7c34;
  color: #fff;
}

.payment-button:hover {
  background-color: #a56519;
}

.edit-cart-button {
  background-color: #fff;
  color: #ba7c34;
  border: 1px solid #ba7c34;
}

.edit-cart-button:hover {
  background-color: #a56519;
  a {
    color: white;
  }
}

.edit-cart-button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #ba7c34;
}

.edit-cart-button a:hover {
  color: #fff;
}
