.checkout-page {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7.5rem;
  color: #1e1e1e;
}

.checkout-form {
  width: 50%;
}
.checkout-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-form h2 {
  font-weight: 700;
  font-size: 28px;
}

.form-row,
.payment-method {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  border: 1px solid #1e1e1e5c;
  font-size: 18px;
}

.form-group :-ms-input-placeholder {
  opacity: 60%;
}
textarea {
  resize: vertical;
}

.payment-method {
  display: flex;
  justify-content: space-between;
}
.payment-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #1e1e1e5c;
  height: 80px;
}

.payment-style input {
  margin-right: 1rem;
}

.payment-style input:hover {
  cursor: pointer;
}
.card-details .form-row {
  flex-direction: column;
}

.card-details .form-row .form-group {
  margin-right: 0;
}

.card-details label {
  margin-top: 1rem;
}

.order-summary {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 35%;
}

.order-items {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.order-total {
  text-align: right;
  margin-bottom: 20px;
}

.checkout-button,
.edit-cart-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.checkout-button {
  background-color: #b57224;
  color: #fff;
}

.edit-cart-button {
  background-color: #fff;
  color: #b57224;
  border: 1px solid #b57224;
}
