footer {
  width: 100%;
}

.newsletter-section {
  background-color: #fff7ee;
  display: flex;
  padding-left: 7.5rem;
  justify-content: space-between;
  align-items: center;
  height: 22.25rem;
  color: #1e1e1e;
}

.newsletter-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.newsletter-section p {
  font-size: 1.75rem;
  opacity: 80%;
}

.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.newsletter-form {
  border: 1px solid #1e1e1e;
  border-radius: 40px;
  border-right: none;
  width: 75%;
  height: 3.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.newsletter-form input[type="email"] {
  border: none;
  height: 100%;
  background-color: transparent;
  margin-bottom: 0;
  font-size: 1.125rem;
}

input:focus {
  outline: none;
}

.newsletter-form button {
  padding: 8px 12px;
  font-size: 1.5rem;
  background-color: #b57224;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 70%;
  height: 100%;
}

.newsletter-form button:hover {
  background-color: #a5601c;
}

.footer-content {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3.75rem 7.5rem;
}

.footer-left {
  width: 40%;
}

.footer-left h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.footer-left p {
  font-size: 18px;
  opacity: 50%;
  line-height: 28px;
}

.footer-left address {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-style: normal;
}
address p {
  display: flex;
  gap: 1rem;
}
.footer-right {
  display: flex;
  gap: 4rem;
  color: #f8f9fa;
}

.footer-column {
  max-width: 150px;
}

.footer-column h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 1rem;
}

.footer-column ul li a {
  opacity: 50%;
  text-decoration: none;
  font-size: 1.125rem;
  color: #f8f9fa;
}

.footer-column ul li a:hover {
  color: #b57224;
}

/* Media Queries for screens up to 991px */
@media (max-width: 991px) {
  .newsletter-section {
    padding-left: 4rem;
    height: 20rem;
  }

  .newsletter-section h2 {
    font-size: 2rem;
  }

  .newsletter-section p {
    font-size: 1.5rem;
  }

  .newsletter-form {
    width: 100%;
  }

  .newsletter-form button {
    font-size: 1.25rem;
    width: 60%;
  }

  .footer-content {
    padding: 3rem 4rem;
  }
}

/* Media Queries for screens up to 768px */
@media (max-width: 768px) {
  .newsletter-section {
    padding-left: 2rem;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .newsletter-subscribe {
    width: 100%;
  }

  .newsletter-section img {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .footer-left {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Media Queries for screens up to 480px */
@media (max-width: 480px) {
  .newsletter-section {
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
  }

  .newsletter-section h2 {
    font-size: 1.75rem;
  }

  .newsletter-section p {
    font-size: 1.25rem;
  }

  .newsletter-form input[type="email"] {
    font-size: 1rem;
  }

  .newsletter-form button {
    font-size: 1.125rem;
  }

  .footer-content {
    padding: 1rem;
  }

  .footer-left h3 {
    font-size: 2rem;
  }

  .footer-left p {
    font-size: 1rem;
  }

  .footer-column h4 {
    font-size: 1.25rem;
  }

  .footer-column ul li a {
    font-size: 1rem;
  }
}

/* Media Queries for screens up to 991px */
@media (max-width: 991px) {
  .newsletter-section {
    padding: 1rem;
    padding-left: 4rem;
    height: 20rem;
  }

  .newsletter-section h2 {
    font-size: 2rem;
  }

  .newsletter-section p {
    font-size: 1.5rem;
  }

  .newsletter-form {
    width: 100%;
  }

  .newsletter-form button {
    font-size: 1.25rem;
    width: 60%;
  }

  .footer-content {
    padding: 3rem 4rem;
  }
}

/* Media Queries for screens up to 768px */
@media (max-width: 768px) {
  .newsletter-section {
    padding-left: 2rem;
    padding: 1rem;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .newsletter-subscribe {
    width: 100%;
  }

  .newsletter-section img {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .footer-left {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Media Queries for screens up to 480px */
@media (max-width: 480px) {
  .newsletter-section {
    padding: 1rem;
    height: auto;
  }

  .newsletter-section h2 {
    font-size: 1.75rem;
  }

  .newsletter-section p {
    font-size: 1.25rem;
  }

  .newsletter-form input[type="email"] {
    font-size: 1rem;
  }

  .newsletter-form button {
    font-size: 1.125rem;
  }

  .footer-content {
    padding: 1rem;
  }

  .footer-left h3 {
    font-size: 2rem;
  }

  .footer-left p {
    font-size: 1rem;
  }

  .footer-column h4 {
    font-size: 1.25rem;
  }

  .footer-column ul li a {
    font-size: 1rem;
  }
}
