footer {
  width: 100%;
}

.newsletter-section {
  background-color: #fff7ee;
  display: flex;
  padding-left: 7.5rem;
  justify-content: space-between;
  align-items: center;
  height: 22.25rem;
  color: #1e1e1e;
}

.newsletter-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.newsletter-section p {
  font-size: 1.75rem;
}

.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  border: 2px solid red;
}
.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #1e1e1e;
  border-radius: 40px;
}

.newsletter-form input[type="email"] {
  /* padding: 10px;
  font-size: 1em; */
  /* border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; */
  height: 100%;
  border: none;
  background-color: transparent;
  /* padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.newsletter-form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #b57224;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #a5601c;
}

.footer-content {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.footer-left {
  max-width: 300px;
}

.footer-left h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-left p {
  margin-bottom: 20px;
}

.footer-left address {
  font-style: normal;
  line-height: 1.6;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-column {
  max-width: 150px;
}

.footer-column h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}
