footer {
  width: 100%;
}

.newsletter-section {
  background-color: #fff7ee;
  display: flex;
  padding-left: 7.5rem;
  justify-content: space-between;
  align-items: center;
  height: 22.25rem;
  color: #1e1e1e;
}

.newsletter-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.newsletter-section p {
  font-size: 1.75rem;
  opacity: 80%;
}

.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
  border: 1px solid #1e1e1e;
  border-radius: 40px;
  width: 75%;
  height: 3.75rem;
}

.newsletter-form input[type="email"] {
  /* padding: 10px;
  font-size: 1em; */
  /* border: 1px solid #ccc;
  
  width: 300px; */
  border: none;
  height: 100%;
  background-color: transparent;
  margin-bottom: 0;
  font-size: 1.125rem;

  /* padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; */
}

input:focus {
  outline: none;
}

.newsletter-form button {
  padding: 8px 12px;
  font-size: 1.5rem;
  background-color: #b57224;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 70%;
  height: 100%;
  /* font-weight: 400; */
}

.newsletter-form button:hover {
  background-color: #a5601c;
}

.footer-content {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3.75rem 7.5rem;
}

.footer-left {
  width: 40%;
}

.footer-left h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.footer-left p {
  font-size: 18px;
  opacity: 50%;
  line-height: 28px;
}

.footer-left address {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-style: normal;
}

.footer-right {
  display: flex;
  gap: 4rem;
  color: #f8f9fa;
}

.footer-column {
  max-width: 150px;
}

.footer-column h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 1rem;
}

.footer-column ul li a {
  opacity: 50%;
  text-decoration: none;
  font-size: 1.125rem;
  color: #f8f9fa;
}

.footer-column ul li a:hover {
  color: #b57224;
}
