.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff7ee;
  color: #1e1e1e;
  height: 17rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  position: relative;
  z-index: -1;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  font-size: 2rem;
  font-weight: 700;
}

.banner-content p {
  font-weight: 500;
}

.banner-content .banner-subtitle {
  opacity: 70%;
}

.banner-content a {
  text-decoration: none;
  font-weight: bold;
}

.banner-image {
  position: absolute;
  right: 0rem;
}
